.lead-show-page {
    clear: both;
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
}

.lead-display {
  margin: 55px  35px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  width: 600px;
  height: 200px;
  max-width: 600px;
  max-height: 200px;
  text-align: left;
}



.map-div {
    margin: 1px;
    padding: 5px;
    border: solid black 1px;
}

#instructions {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: rgba(199, 184, 184, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
    z-index: 10;
  }
  
  .duration {
    font-size: 2em;
  }