.call-form-div, .appointment-form-div, .app-update-div {
    width: 360px;
}

.appointment-form-div {
    margin: 0 0 0 315px;
}

.new-call-form  {
    margin: 10px 25px;
    background: #ede3e4;
}

.new-appointment-form {
    margin: 10px 25px;
    background: #cbd4c2;
}

.app-update-form {
    margin: 10px 25px;
    background: #50514f;
}

.app-update-div {
    margin: 0 0 0 685px;
}

.new-call-form, .new-appointment-form, .app-update-form {
    position: initial;
    max-width: 360px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 8px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px;
    border-radius: 10px;
}

.label-input-appt input {
    border-radius: 5px;
    border-style: none;
    color: #30011e;
    width: 155px;
    font-weight: bold;
}

.app-update-label-input {
    margin-bottom: 10px;
}

.app-update-label-input-number {
    border-radius: 5px;
    border-style: none;
    color: #30011e;
    width: 65px;
    font-weight: bold; 
}

.new-call-form label {
    color: #30011e;
}

.new-appointment-form label {
    color: #50514f
}

.app-update-label-radio label, .app-update-label-input label {
    color: #ede3e4
}

.new-call-form label, 
.new-appointment-form label, 
.app-update-label-radio, 
.app-update-label-input label,
.app-update-label-input-number {
    font-weight: bold;
    margin: auto 0;
}

.label-input-call, .label-input-call-radio {
    color: #50514f;
    justify-content: space-between;
    margin-bottom: 15px;
}

.app-update-label-radio {
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #30011e;
}

.label-input-call, .label-input-call-radio, .app-update-label-radio {
    cursor: pointer;
    display: flex;
}

.new-appointment-form .label-input-appt {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px;
    padding: 0 0 7px 0;
    
}

.submit-call, .submit-appt, .submit-app-update {
    text-align: center;
}

.submit-btn-call {
    background: #30011e;
}

.submit-btn-appt {
    background: #50514f;
}

.cancel-btn-appt {
    background: #ede3e4;
}

.submit-btn-app-update {
    background: #30011e;
}


.submit-btn-call, .submit-btn-appt, .submit-btn-app-update {
    color: white;
    border-style: none;
    margin: 0 auto;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 8px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
}

.cancel-btn-appt {
    color: white;
    border-style: none;
    margin: 5px;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;
}