.navbar {
    direction: rtl;
    padding: 5px;
    height: 20px;
    width: 98%;
    background: #edf2f4;
    border-radius: 8px;
    margin: 20px 0;
}

.navbar a {
    padding: 7px;
    margin: 5px;
    display: inline;
    font-size: 18px;
    color: #30011e;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    
}

.navbar a:hover {
    background-color: #30011e;
    border-radius: 7px;
    color: #edf2f4;
}

.main-page-container {
    display: grid;
    flex-direction: column;
    
}

#root {
    width: 80%;
    margin: 0px auto;
    background: #edf2f4;
    
}